backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
boto==2.43.0
certifi==2016.9.26
ecdsa==0.13
Fabric==1.12.0
futures==3.0.5
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.8
paramiko==1.17.2
pycrypto==2.6.1
PyYAML==3.12
pyzmq==16.0.2
requests==2.12.1
salt==2016.11.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2